<div class="modal" [ngClass]="{'is-active':visible}">
  <div class="modal-background" (click)="onClose.emit()"></div>
  <div class="modal-content">
    <div class="box">
      <table class="table">
        <tr>
          <td colspan="2"><b>Build Info</b></td>
        </tr>
        <tr>
          <td>ID</td>
          <td>{{build?.id}}</td>
        </tr>
        <tr>
          <td>Project</td>
          <td>{{build?.project}}</td>
        </tr>
        <tr>
          <td>Branch</td>
          <td>{{build?.branch}}</td>
        </tr>
        <tr *ngFor="let label of build?.labels">
          <td>{{label.key}}</td>
          <td>{{label.value}}</td>
        </tr>
        <tr *ngIf="build?.labels.length == 0">
          <td colspan="2"><b>No Labels</b></td>
        </tr>
      </table>
    </div>
  </div>
  <button class="modal-close" (click)="onClose.emit()"></button>
</div>


