<table class="table">
  <tr *ngFor="let build of buildSearchResult.builds">
    <td>{{build.project}}</td>
    <td>{{build.branch}}</td>
    <td>{{build.buildNumber}}</td>
  </tr>
  <tr>
    <td align="left"></td>
    <td></td>
    <td align="right"></td>
  </tr>
</table>
<div>
  <button class="button is-pulled-left" (click)="onPrevPage.emit()" [disabled]="!buildSearchResult.hasPrevious">
    <span class="icon"><i class="fa fa-arrow-left"></i></span>
  </button>
  <button class="button is-pulled-right" (click)="onNextPage.emit()" [disabled]="!buildSearchResult.hasNext">
    <span class="icon"><i class="fa fa-arrow-right"></i></span>
  </button>
</div>
